<main class="content">
  <article class="page-content">
    <h1 class="page-title">Currency Converter</h1>
    <div class="form-field">
      <label for="originalValue">Amount to convert</label>
      <input type="number" id="originalValue" placeholder="Amount to convert" [(ngModel)]="originalValue">
    </div>
    <div class="form-field">
      <label for="fixed-rate">Fix Rate</label>
      <input type="number" id="fixed-rate" placeholder="Fix Rate" [(ngModel)]="fixRate">
    </div>
    <label class="cxc-switch-btn">
      <input type="checkbox" (change)="toggleCurrency()">
      <div class="cxc-slide cxc-round">{{ selectedCurrency()}}</div>
    </label>
    <div class="info-rates">
      <label class="info-label">Variable Rate : {{ variableRate() | number : "1.0-3"}}</label>
      <label class="info-label">Fixed Rate : {{ fixRate() | number : "1.0-3"}}</label>
      <label class="info-label">applicableRate : {{ applicableRate() | number : "1.0-3"}} (variation : {{ variation() | number: "1.0-3" }})</label>
      <label class="info-label">Converted value : {{ convertedValue() | number : "1.0-3" | currency : selectedCurrency()}}</label>
    </div>
    <div class="history">
      <app-currency-converter-history [history]="currencyConverterService.history()"></app-currency-converter-history>
    </div>

  </article>
</main>
